---
layout: default
title: Kenneth Cachia
---

  <section>
    <h1>Projects</h1>
    {% for project in site.data.projects %}
      <article>
        <h2><a href="{{project.link}}" target="_blank">{{project.title}}</a></h2>
        <p>{{project.description}}</p>
      </article>
    {% endfor %}
  </section>

  <section>
    <h1>Misc</h1>
    {% for other in site.data.others %}
      <article>
        <h2><a href="{{other.link}}" target="_blank">{{other.title}}</a></h2>
        <p>{{other.description}}</p>
      </article>
    {% endfor %}
  </section>

  <section>
    <h1>About</h1>
    <article>
      <p>Frontend Engineer at Squarespace.<br/>MLT <span class="icon">✈</span> NYC</p>
      <ul class="social">
      {% for social in site.data.core.social %}
        <li><a href="{{social.url}}"{% if social.blank != false %} target="_blank"{% endif %}>{{social.label}}</a></li>
      {% endfor %}
      </ul>
    </article>
  </section>
