---
layout: default
title: Kenneth Cachia
---

  <section>
    {% for project in site.data.projects %}

      <article class="project gap">
        <h1 class="project-title">{{project.title}}</h1>

        <a href="{{project.link}}" target="_blank"><img src="{{site.data.core.projectThumbnails}}{{project.thumbnail}}" /></a>
        <p class="project-description">{{project.description}}</p>
        <p>
          <a class="a--small" href="{{project.link}}" target="_blank">Project</a>
          {% for link in project.links %}
          <a class="a--small" href="{{link.url}}" target="_blank">{{link.label}}</a>
          {% endfor %}
        </p>
      </article>

    {% endfor %}
  </section>