---
layout: default
title: Kenneth Cachia
---

  <section>
    {% for project in site.data.projects %}

      <article class="project gap">
        <h1 class="project-title">{{project.title}}</h1>

        <div class="project-content">
          <a href="{{project.link}}" target="_blank"><img src="{{site.data.core.projectThumbnails}}{{project.thumbnail}}" /></a>
          <p>{{project.description}}</p>
          <p>
            <a href="{{project.link}}" target="_blank">Project</a>
            {% for link in project.links %}
            <a target="_blank" href="{{link.url}}">{{link.label}}</a>
            {% endfor %}
          </p>
        </div>
      </article>

    {% endfor %}
  </section>