
/* ==========================================================================
   Typography
   ========================================================================== */

body {
  background: #fff;
  color: #111;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.6;
}

h1 {
  display: inline-block;
  font-size: 1.6em;
  font-weight: 100;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 1em;
  font-weight: 500;
}

h2,
p {
  margin: 0;
}

a {
  border-bottom: 1px solid;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #666;
}

.social {
  font-size: .8em;
  margin-right: .25em;
  border-bottom: none;
}


/* ==========================================================================
   Layout
   ========================================================================== */

.layout {
  padding-top: 8em;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

section {
  margin-bottom: 90px;
}

article:not(:last-of-type) {
  margin-bottom: 20px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 769px) {}
