<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="Frontend Developer at Squarespace.">

    <title>{{page.title}}</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Titillium+Web:400,700">

    <link rel="stylesheet" href="{{site.data.core.css}}normalize.css">
    <link rel="stylesheet" href="{{site.data.core.css}}layout.css">
    <link rel="stylesheet" href="{{site.data.core.css}}responsive.css">
  </head>
  <body>
    <nav class="nav gap">
      <ul class="nav-list layout">
        {% for link in site.data.core.nav %}
        <li class="nav-item{% if page.path == link.active %} nav-item--active{% endif %}" ><a href="{{link.url}}">{{link.label}}</a></li>
        {% endfor %}
      </ul>
    </nav>

    <div class="layout">
      {{content}}
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18542897-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>